
header{
    color: brown;
  
}
.adv li { display: inline-block;
    padding: 5px;
    color: red;

}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: rgb(54, 42, 165);
    text-decoration: none;
    border-bottom: 2px solid cornflowerblue;

}
nav ul li a:hover{
    border-bottom: 2px solid rgb(237, 100, 100);
    color: rgb(237, 100, 100);
}






    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: rgb(0, 1, 2);
      background-color: inherit;
      font-family: inherit;
      margin: 0;
      cursor: pointer;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #575757;
    }




    /* issues section */
    .width-33{
width: 33%;
float: left;
}
.latest-news{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-section{
    width: 85px;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    padding-top: 12px;
    padding-left: 12px;
    background: #00aed9;
    color: white;
  }

  .head-title{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 5px;
  }

  .latest-news-ul{
    padding: 0px;
    list-style: none;
    line-height: 20px;

}
.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;

}

.upcoming-event-list{
    padding: 0px;
    list-style: none;
}
.upcoming-event-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;

}
.event-date{
    background: #03a9f4;
    width: 50px;
    float: left;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 8px;
    margin-right: 10px;
}

.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;

}
.notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 40px;

}
.notice-board-list li{
    width: 100%;
    float: left;
    margin-bottom: 15px;

}
.our-principal{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;


}
.useful-info-ul{
 
    list-style: none;
    
}
.useful-info-ul li{
    margin-bottom: 15px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
}
.useful-info-ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;  
}
.gov-sec-style{
  width: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 30px;

}


.governor-name{
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;

}

.governor-designation{
    font-size: 15px;
    color: black;
    padding-left: 10px;
    margin-top: 6px;

}

.governor-img{
    width: 100%;

}

.width-40{
    width: 50px;
    float: left;
}
.width-60{
    width: 60%;
    float: left;
}

.about-us{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.certificate{
    margin-left: 10px;
    margin-right: 10px;
    background: #fff;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.gallery-head-style{

    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
    background: white;
    padding: 2px 0px;
}



.width-25{
    width: 25%;
    float: left;

}

.gallery-img{ height: 250px;
    width: auto;

}

.recruiter-head-style{

    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
}

.recruiter-marquee{
    height: 100px;

}

.recruiter-marquee img {
    height: 80px;
    width: 140px;

}

/*----rought-----*/

.footer{
    background: #232f3e;
    padding: 50px 0px;

}

.quicklink-heading{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;

}

.quicklink-menu{
    list-style: none;
    padding-left: 10px;

}

.quicklink-menu li a{
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;

}

.get-in-touch{
    list-style: none;
    padding-left: 10px;

}

.get-in-touch li i{
    color: #ed372c;
    font-size: 20px;


}

.get-in-touch li{
    color: #fff;
    line-height: 2.5;
    font-size: 15px;

}

.footer-e-mail{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}


.footer-website{
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.social-media{
    list-style: none;
    margin-top: 10px;

}

.social-media li{
    float: left;
    padding: 0px 8px;

    
}

.social-media li a img{
    width: 30px;
    
}

.footer2-bacbor{
    background: #232f3e;
    padding: 10px 0px;
    border-top: 1px solid #898989;

}

.footer2-content{
    font-size: 14px;
    color: #fff;
    text-align: center;
}

